@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic&family=Rajdhani&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

* {
    font-family: 'Staatliches', cursive;
    letter-spacing: 4px;
    background: rgba(red, green, blue, alpha);
    color: white;
}
/* Style the body */
body, html {
  margin: 0;
  height: 100vh;
  cursor: none;
  
}


h2 {color:#194578 ;}
p{color: #194578;}
  
.header {
    margin-top: 50px;
    padding: 60px;
    text-align: center;
    background: rgba(red, green, blue, alpha);
    color: rgba(red, green, blue, alpha);
    font-size: 30px;
}
  
.content {
    margin-top: 100px;
    padding:20px;
}

  
.btn {
    width: 300px;
    height: 100px;
    border: none;
    color:#194578;
    border-radius: 4px;
    transition: ease-out 0.9s;
    font-size: 4rem;
    outline: none;
    border: 3px solid white;   
    border-bottom-left-radius:100px;
    border-top-right-radius:100px;
    position: relative;
    z-index: 1;
    letter-spacing:5px;
    background-color:white;
}
.btn:hover{
    color: #fff;
    cursor: pointer;
    
}
.btn::before{
    transition: 0.7s all ease;
    position: absolute;
    top:0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #194578;
    border-bottom-left-radius:200%;
    border-top-right-radius:200%;
    
}
.btn:hover:before {
    transition: 0.7s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;    
}




#slider {
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
    
 }
 #slides {
    padding: 10px;
    border: none;
    
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 150px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #194578;
    background-color: #194578;
    
 }
 #slides .slide_1 {
    background: rgba(255, 255, 255, 0);
 }
 #slides .slide_2 {
    background: rgba(255, 255, 255, 0);
 }
 #slides .slide_3 {
    background:rgba(255, 255, 255, 0);
 }
 #slides .slide_4 {
    background:rgba(255, 255, 255, 0);
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
    
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
    margin-top: 60px;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
    margin-top: 60px;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }



 #hexagons {
   max-width: 600px;
   margin: 15em auto 16em;
   font: normal 16px/20px Helvetica, Arial, sans-serif; 
   padding-top: 6em;
   position: relative;
   margin-left: 580px;
 }
 #categories {
   overflow: hidden;
   width: 100%;
 }
 .clr:after {
   content: "";
   display: block;
   clear: both;
 }
 #categories li {
   position: relative;
   list-style-type: none;
   width: 32.33333333%;/* = (100- 3) / 3 */
   padding-bottom: 37.33641263%;/* =  width /0.866 */
   float: left;
   overflow: hidden;
   visibility: hidden;
   margin-left: 0.5%;
   margin-right: 0.5%;
   -webkit-transform: rotate(-60deg) skewY(30deg);
   -ms-transform: rotate(-60deg) skewY(30deg);
   transform: rotate(-60deg) skewY(30deg);
   cursor: pointer;
 }
 @media (min-width: 768px) {
   #categories li:nth-child(5n+4) {
     margin-left: 1%;
   }
   #categories li:nth-child(5n+4),
   #categories li:nth-child(5n+5) {
     margin-top: -8.083333333%; /* = w / 4 */
     margin-bottom: -8.083333333%; /* = w / 4 */
     -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
     -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
     transform: translateX(50%) rotate(-60deg) skewY(30deg);
   }
   #categories li:nth-child(5n+6) {
     clear: left;
     transform: translateX(0) rotate(-60deg) skewY(30deg);
   }
   #categories li:nth-child(5n+4):last-child,
   #categories li:nth-child(5n+5):last-child {
     margin-bottom: 0%;
   }
 }
 @media( max-width: 767px) {
   #categories li {
     width: 48.75%;/* = (100 -2.5) / 2 */
     padding-bottom: 56.29330254%;/* =  width /0.866 */
   }
   #categories li:nth-child(3n+3) {
     margin-left: 25.5%;
     clear: both;
     margin-top: -12.1875%;/* = w / 4 */
     margin-bottom: -12.1875%;/* = w / 4 */
   }
   #categories li:nth-child(3n+2) {
     float: right;
   }
   #categories li:nth-child(3n+3):last-child {
     margin-bottom: 0%;
   }
   #categories li:nth-child(3n+4) {
     clear: left;
     transform: translateX(0) rotate(-60deg) skewY(30deg);
   }
 }
 #categories li * {
   position: absolute;
   visibility: visible;
   overflow: hidden;
 }
 #categories li>div {
   width: 100%;
   height: 100%;
   text-align: center;
   color: #fff;
   overflow: hidden;
   -webkit-transform: skewY(-30deg) rotate(60deg);
   -ms-transform: skewY(-30deg) rotate(60deg);
   transform: skewY(-30deg) rotate(60deg);
   -webkit-backface-visibility: hidden;
 }
 /* HEX CONTENT */
 #categories li img {
   left: 50%;
   top: 50%;
   width: auto;
   margin: 0 auto;
   transform: translate(-50%, -50%);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
 }
 #categories li .flip-content {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #000;
   text-align: center;
   width: 100%;
   padding: 20px 3px;
 }
 #categories li .front .flip-content {
   font-size: 21px;
 }
 #categories li .flip-content * {
   position: static;
 }
 #categories li .flip-content {
   font-size: 19px;
   line-height: 1.2;
 }
 #categories li .front {
   background-repeat: repeat;
   background-position: center;
 }
 #categories li .flip-content p {
   color: #666666;
   padding-bottom: 10px;
 }
 #categories li .flip-content.lg {
   font-size: 27px;
 }
 #categories li .flip-content.md {
   font-size: 24px;
 }
 #categories li .flip-content.title-xs {
   font-size: 38px;
 }
 #categories li .front .flip-content,
 #categories li .front .flip-content p {
   color: #fff;
 }
 #categories li .flip-content p:last-child {
   padding-bottom: 0;
 }
 #categories li .back .flip-content p a {
   background: #df5d53;
   display: inline-block;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   color: #fff;
   text-transform: uppercase;
   padding: 4px 6px 4px 11px;
   font-size: 12px;
   font-weight: 600;
   text-decoration: none;
 }
 #categories li .back .flip-content p a i {
   font-size: 21px;
   vertical-align: middle;
   padding-left: 3px;
 }
 @media (max-width: 1024px) {
   #news-month.style2 {
     overflow: hidden;
   }
   #hexagons {
     margin-bottom: 15em;
   }
 }
 @media (max-width: 991px) {
   #categories li .front .flip-content.title-xs {
     font-size: 29px;
   }
   #categories li .front .flip-content {
     font-size: 17px;
   }
   #categories li .flip-content.lg {
     font-size: 22px;
   }
   #categories li .flip-content.md {
     font-size: 18px;
   }
   #categories li .flip-content {
     font-size: 16px;
   }
   .initiative.style2 .initiative--title {
     font-size: 19px;
   }
   #hexagons {
     overflow: hidden;
     margin: 1em auto 0;
     padding-top: 3em;
     padding-bottom: 3em;
   }
   #categories {
     width: auto;
     padding: 0 12px;
   }
   #hexagons .el-bg.bg-11 {
     top: 996px;
   }
   #hexagons .el-bg.bg-12 {
     top: 1152px;
   }
   .page-template-our-impact .header {
     max-height: none;
   }
 }
 @media (max-width: 767px) {
   #categories li .front .flip-content.title-xs {
     font-size: 32px;
   }
   #categories li .front .flip-content {
     font-size: 23px;
   }
   #categories li .flip-content.lg {
     font-size: 27px;
   }
   #categories li .flip-content.md {
     font-size: 26px;
   }
   #categories li .flip-content {
     font-size: 23px;
   }
   #hexagons .el-bg.bg-14 {
     top: 1751px;
   }
   #categories li img {
     height: 100%;
   }
   .initiative.style2 a {
     padding-bottom: 20px;
     padding-top: 10px;
   }
   #news-month.style2 .news-figure {
     background-position: 0 0;
     padding: 20px 16px 20px;
   }
   .initiative.style2 {
     padding-top: 20px;
     padding-bottom: 20px;
   }
   .page-template-our-impact .header {
     background-position: -62px;
   }
 }
 @media (max-width: 560px) {
   #categories li .front .flip-content.title-xs {
     font-size: 22px;
   }
   #categories li .front .flip-content {
     font-size: 13px;
   }
   #categories li .flip-content.lg {
     font-size: 17px;
   }
   #categories li .flip-content.md {
     font-size: 16px;
   }
   #categories li .flip-content {
     font-size: 13px;
   }
   #categories {
     padding: 0 8px;
   }
   #categories li .back .flip-content p a {
     font-size: 11px;
     padding: 0px 6px 0px 11px;
   }
   #categories li .back .flip-content p a i {
     font-size: 15px;
     line-height: 1.5;
   }
 }
 @media( max-width: 375px) {
   .page-template-our-impact .header {
     background-position: -87px;
   }
 }
 @media (max-width: 320px) {
   #categories li .front .flip-content.title-xs {
     font-size: 19px;
   }
   #categories li .front .flip-content {
     font-size: 12px;
   }
   #categories li .flip-content.lg {
     font-size: 13px;
   }
   #categories li .flip-content.md {
     font-size: 12px;
   }
   #categories li .flip-content {
     font-size: 11px;
   }
   #categories li .flip-content p {
     padding-bottom: 5px;
   }
   .page-template-our-impact .header {
     background-position: -104px;
   }
 }
 /* Flip EFFECT  */
 .flip-container {
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   -ms-transform: perspective(1000px);
   -moz-transform: perspective(1000px);
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
 }
 /*  UPDATED! flip the pane when hovered */
 .flip-container:hover {}
 .flip-container:hover .back {
   transform: rotateY(0deg);
 }
 .flip-container:hover .front {
   transform: rotateY(180deg);
 }
 .flip-container,
 .front,
 .back {
    background-color: rgba(red, green, blue, alpha);
   width: 100%;
   height: 100%;
 }
 /* flip speed goes here */
 .flipper {
   width: 100%;
   height: 100%;
   -webkit-transition: 0.6s;
   -webkit-transform-style: preserve-3d;
   -ms-transition: 0.6s;
   -moz-transition: 0.6s;
   -moz-transform: perspective(1000px);
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transition: 0.6s;
   transform-style: preserve-3d;
   position: relative!important;
 }
 /* hide back of pane during swap */
 .front,
 .back {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: 0.6s;
   -webkit-transform-style: preserve-3d;
   -webkit-transform: rotateY(0deg);
   -moz-transition: 0.6s;
   -moz-transform-style: preserve-3d;
   -moz-transform: rotateY(0deg);
   -o-transition: 0.6s;
   -o-transform-style: preserve-3d;
   -o-transform: rotateY(0deg);
   -ms-transition: 0.6s;
   -ms-transform-style: preserve-3d;
   -ms-transform: rotateY(0deg);
   transition: 0.6s;
   transform-style: preserve-3d;
   transform: rotateY(0deg);
   position: absolute;
   top: 0;
   left: 0;
 }
 /*  UPDATED! front pane, placed above back */
 .front {
   -webkit-transform: rotateY(0deg);
   -ms-transform: rotateY(0deg);
   z-index: 2;
 }
 /* back, initially hidden pane */
 .back {
   -webkit-transform: rotateY(-180deg);
   -moz-transform: rotateY(-180deg);
   -o-transform: rotateY(-180deg);
   -ms-transform: rotateY(-180deg);
   transform: rotateY(-180deg);
   background: #194578;
 }


 /*Logo  #42fbf2 */
.nav {
   position: fixed;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 75px;
   margin: 0;
   padding: 0 25px;
   box-sizing: border-box;
   z-index: 99;
 }
 .fa-dot-circle {
  display: inline-block;
  position: absolute;
  height: 75px;
  line-height: 75px;
  font-size: 35px;
  left: 50%;
  transform: translateX(-50%);
  color: #194578;
 }

 .fa-database {
   color: #194578;
   size: 50px;
 }

 .fa-code {
  color: #194578;
 }
 .fa-server {
   color: #194578;
 }
 .fa-network-wired {
   color: #194578;
 }
 .fa-gamepad {
   color: #194578;
 }

 .texto {
   font-size: 20px;
   color: #194578;
 }
 .text {
   font-size: 12px;
   color: #9dafc5;
 }



 .social {
  position:absolute;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

ul li {
  list-style:none;
  margin:0 5px;
}

ul li a .fab {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fab {
  color:#fff;
}

ul li:hover span {
  color:#fff;
}

ul li:hover:nth-child(1) a{
  background: #3b5998;
}
ul li:hover:nth-child(1) a:before{
  background: #365492;
}
ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

ul li:hover:nth-child(2) a{
  background: #2fc751;
}
ul li:hover:nth-child(2) a:before{
  background: #2bb148;
}
ul li:hover:nth-child(2) a:after{
  background: #4cd169;
}



.cont {
  position:absolute;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
  color: #194578;
  font-size: 70px;
  margin-top: -150px;
}


.area{
    background: rgba(38, 65, 139, 0);  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh !important;
    
   
}

.circles{
    position: absolute;
    top: 100%;
    left: 0;
    width: 95%;
    height: 100vh !important;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(38, 65, 139, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-2400px) rotate(720deg);
        opacity: 0.5;
        border-radius: 50%;
    }

}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid #194578;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid#194578;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #194578;
}


 
